<nav class="navbar navbar-expand-lg navbar-dark bg-primary fixed-top navbar-custom"
     th:fragment="navbar">

    <div class="container-fluid">

        <!-- Botón hamburguesa -->
        <button class="btn text-white"
                id="toggleSidebar">
            <i class="bi bi-list fs-3"></i>
        </button>

        <!-- Texto centrado -->
        <div class="mx-auto text-white fw-bold fs-4">
            Sistema Escolar
        </div>

        <!-- Usuario derecha -->
        <div class="text-white">
            <i class="bi bi-person-circle"></i>
            admin
        </div>

    </div>
</nav>