<div id="sidebar" th:fragment="sidebar">

    <ul class="nav flex-column p-3 text-white">

        <li class="nav-item">
            <a class="nav-link text-white"
               th:href="@{/web/usuarios}">
                <i class="bi bi-people"></i> Usuarios
            </a>
        </li>

        <li class="nav-item">
            <a class="nav-link text-white"
               th:href="@{/web/actividades}">
                <i class="bi bi-calendar-event"></i> Actividades
            </a>
        </li>

        <li class="nav-item">
            <a class="nav-link text-white"
               th:href="@{/web/salas}">
                <i class="bi bi-door-open"></i> Salas
            </a>
        </li>

    </ul>

</div>